<div>
<script type="text/template" id="relationTpl">
	<div class="relation-display">
		<%= value %>
		<% if(related){ %><a href="#" title="Edit this <%= relatedCollection %> item"><% } %>
			<% if(relatedCollection){ %><i class="fa fa-external-link-square" title="Doesn't exists any <%= relatedCollection %> item with this id."></i><% } %>
		<% if(related){ %></a><% } %>
	</div>
</script>

<script type="text/template" id="relationEditTpl">
	<form class="relation-form">
		<% if(relatedCollection && displayField) { %>
		<input type="text" value="<%= relatedFieldValue %>" placeholder="<%= displayField %>" class="relation-field">
		<% } %>
		<input type="text" value="<%= value %>" placeholder="id" class="relation-id">
	</form>
</script>

</div>