<div>
<script type="text/template" id="fieldTpl">
	<div class="field-display"><%= value.id %></div>
</script>

<script type="text/template" id="fieldEditTpl">
	<form class="field-form" data-cid="<%= cid %>">
		<div class="element-form-options">
			<% if(label) { %>
			<%= label %>:
			<% } %>
			<select class="element-form-type field-datatype-select">
				<% _.each(types, function(type){ %>
				<option value="<%= type.id %>" <%= type.id == value.id ? 'selected' : '' %>><%= type.name %></option>
				<% }) %>
			</select>
		</div>

		<div class="element-form-advanced">
			<a class="element-form-advanced-toggle" href="#" data-bypass="1">Advanced options</a>
			<div class="element-form-advanced-options" style="display:none">
			</div>
		</div>
	</form>
</script>
</div>