<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Consol test</title>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="js/socket.io.js"></script>
	<script src="js/consol.js"></script>
	<script>
		$(function(){

			var socket = io.connect('http://localhost:3000'),
				consolId = <%= consolId %>
			;
			socket.on('connect', function () {
				$('#consol').consol({socket: socket, id:consolId});
			});
		});
	</script>
</head>
<body>
	<h1>This is a test for the consol.</h1>
	<div id="consol">
		
	</div>
</body>
</html>