<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tule</title>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="<%= frontSettings.url.assets %>/tule/css/tule.min.css">
</head>
<body>
	<div id="menuRegion">
		<div id="logoRegion"><h1>Tule</h1></div>
		<div id="navigationRegion"></div>
	</div>
	<div id="pageRegion">
		<h2 class="pagetitle">Welcome</h2>
		<div class="content">
			Start kicking some asses selecting an option from the left menu.
		</div>
	</div>

	<script data-main="/r/tule/bootstrap" src="/r/tule/bower_components/requirejs/require.js"></script>
	<script>
		var tuleSettings = <%= JSON.stringify( frontSettings ) %>;
	</script>
</body>
</html>
