/* Datatypes */
.tuleDE td {
	padding-bottom: 10px;
}
.tuleDEKey {
	font-weight: bold;
	padding-left: @margin-wide;
	position: relative;
	vertical-align: top;
	text-align: right;
	line-height: 1em;
	width: 100px;
}

.tuleDEDelete {
	display: none;
	color: #ccc;
	position: absolute;
	left: 5px;
}

.tuleDEKey:hover .tuleDEDelete {
	display: inline;
}
.tuleDEValue {
	padding-left: @margin-narrow;
	vertical-align: top;
	line-height: 1em;
	td {
		padding: 2px 5px;
	}

	.hilited {
		font-weight: bold;
	}
}

.tuleDEDisplay,
.tuleObjectCount {
	cursor: pointer;
	margin-bottom: 5px;

	&:hover {
		color: @color-alt-1;
	}
}

.tuleDEEdit {
	padding: 0 0 0 @margin-narrow;
	position: relative;
	margin: 0 0 @margin-narrow @margin-wide;
}

.tuleDEC {
}

.tuleDECType {
	vertical-align: top;
	padding-left: @margin-narrow;
}

.tuleDECKey {
	font-weight: bold;
	font-style: italic;
	vertical-align: top;
	text-align: right;
	width: 120px;
}

.tuleDECKey input{
	margin-left: @margin-narrow;
	font-weight: normal;
	font-style: normal;
	width: 120px;
}

.tuleDECControls {
	text-align: left;
}

.tuleElementsControls {
	margin-top: 5px;
}

.tule-add-element {
	margin: 0 @margin-narrow 0 @margin-wide;
}

.tuleObjectProperties {
	width: 100%;
}

.tuleObjectProperties,
.tuleArrayElements {

}

.tuleObjectEdit {
	margin-left: -@margin-narrow;
	position: relative;

	&.tuleCloseable:before {
		content: '';
		position:absolute;
		width: 5px;
		left: 3px;
		bottom: 0;
		height: 100%;
		border-left: 1px solid #ddd;
		border-bottom: 2px solid #ddd;
	}
}

.tule-array-placeholder {
	display: block;
	border: 1px dashed #ddd;
	background: rgba(0,0,0,.05);
}

.tule-array-sorting {
	box-shadow: @shadow;
	background: #fff;
	outline: 2px solid #ddd;
	padding: 2px;
}

.tuleArrayElements .tuleDEKey {
	cursor: move;
}

/* Inline fields */
.tule-inline-field {
	display: inline-block;
	margin: 0;
	padding: 0;

	&:before {
		display: none;
	}
}
.tuleDE-bool .tuleDEEdit {
	vertical-align: middle;
}

.tule-field-advanced {
	margin-bottom: @margin-narrow;
}

.tule-field-advanced-toggle {
	font-size: .8em;
}


/* HTML */
.html-form {
	width: 100%;
	.htmlEditor {
		width: 100%;
		min-height: 100px;
		background: #fff;
		padding: 5px;
		border: 2px solid #ddd;
		box-shadow: @shadow;

		&:focus {
			border: 2px solid @color-main-1;
			outline: none;
		}

		p:first-child,
		h3:first-child,
		h4:first-child {
			margin-top: 0;
		}
	}
}

.html-display {
	p:first-child,
	h3:first-child,
	h4:first-child {
		margin-top: 0;
	}

	p:last-child,
	ul:last-child,
	span:last-child {
		margin-bottom: 0;
	}
}

.medium-editor-toolbar {
	border-left: 2px solid @color-main-2;
	border-bottom: 2px solid @color-main-2;
	box-shadow: @shadow;
	font-family: 'PT Sans', sans-serif;

	button.medium-editor-action {
		padding: 5px 10px;
		border: 0;
		box-shadow: none;
	}

	&.medium-toolbar-arrow-under:after {
		border-color: transparent;
		border-top-color: @color-main-2;
	}

	b {
		font-weight: normal;
	}
}

.medium-editor-toolbar-form-anchor {
	background: @color-main-2;

	a {
		.button();
		margin: 0 !important;
		border: 0;
		box-shadow: none;
		font-size: 16px !important;
		padding: 0 10px;
		line-height: 29px;
		&:hover {
			border:0;
		}
	}
}

.medium-editor-anchor-preview {
	background: @color-main-0;
	box-shadow: @shadow;
	margin: 0;
	padding: 2px 10px;
	font-size: 0.9em;

	&:before {
		border-color: transparent;
		border-bottom-color: @color-main-0;
	}
}


div.medium-editor-placeholder:after {
	margin: 5px;
	color: #aaa;
	font-style: normal;
}