@color-dark: #111;
@color-light: #fff;

@color-main-0: #eefffa;
@color-main-1: #329752;
@color-main-2: #164;
@color-main-3: #102019;
@color-main-4: #091910;

@color-alt-1: #921f53;
@color-alt-2: #720838;
@color-alt-3: #530221;

@shadow: -5px 5px rgba(0,0,0,.05);
@shadow-inset: inset -5px 5px rgba(0,0,0,.05);

@margin: 15px;
@margin-wide: 25px;
@margin-narrow: 10px;
