<div>

<script type="text/template" id="settingsNavigationTpl">
	<div class="preview"></div>
	<div class="toolsbox"></div>
</script>

<script type="text/template" id="previewTpl">
	<h3>Navigation</h3>
	<ul class="js-container js-main"></ul>
	<div class="preview-controls">
		<a href="#" data-bypass="true" class="js-add-box">
			<span class="fa fa-plus"></span>  New box&nbsp;&nbsp;</a>
		<a href="#" data-bypass="true" class="js-save-navigation">
			<span class="fa fa-save"></span>  Save</a>
	</div>
</script>

<script type="text/template" id="toolsboxTpl">
	<div class="toolsbox-inner marginable">
		<h3>Navigation Elements</h3>
		<% _.each(collections, function(collection, key){ %>
			<ul class="js-collection">
				<h4><%= key %>: </h4>
				<% _.each(collection, function(item){ %>
					<li data-text="<%= item.text %>" data-url="<%= item.url %>" data-origin="outside"><%= item.text %></li>
				<% }) %>
			</ul>
		<% }) %>		
	</div>
</script>

<script type="text/template" id="boxTpl">
	<li class="js-output container-wrapped" data-cid="<%= cid %>">
		<ul class="js-container js-item box marginable" data-text="<%= text %>" data-cid="<%= cid %>">
			<h4 class="js-editable-name" data-text="<%= text %>">
				<%= text %>
				<span class="js-buttons">
					<a href="#" data-bypass="true" class="js-upper-remove">
						<span class="fa fa-times"></span></a>
					<a href="#" data-bypass="true" class="js-upper-edit">
						<span class="fa fa-pencil"></span></a>
				</span>
			</h4>
		</ul>
	</li>
</script>

<script type="text/template" id="boxEditTpl">
	<li class="js-output container-wrapped">
		<ul class="js-container js-item box marginable" data-text="<%= text %>" data-cid="<%= cid %>">
			<h4 class="js-editable-name" data-text="<%= text %>">
				<input type="text" id="text" value="<%= text %>"/>
				<button class="js-upper-ok">Ok</button>
			</h4>
		</ul>
	</li>
</script>

<script type="text/template" id="itemTpl">
	<li class="js-subItem" data-text="<%= text %>" data-url="<%= url %>" data-cid="<%= cid %>">
		<div class="item-left">
			<div class="item-text"><%= text %></div>
			<div class="item-url"><%= url %></div>
		</div>
		<div class="item-right">
			<span class="js-buttons">
				<a href="#" data-bypass="true" class="js-item-remove">
					<span class="fa fa-times"></span></a>
				<a href="#" data-bypass="true" class="js-item-edit">
					<span class="fa fa-pencil"></span></a>
			</span>
		</div>
	</li>
</script>

<script type="text/template" id="itemEditTpl">
	<li class="js-subItem" data-text="<%= text %>" data-url="<%= url %>" data-cid="<%= cid %>">
		<input type="text" id="text" value="<%= text %>"/>
		<button class="js-item-ok">Ok</button>
	</li>
</script>

<script type="text/template" id="singleTpl">
	<li class="js-item js-output marginable" data-text="<%= text %>" data-url="<%= url %>" data-cid="<%= cid %>">
		<div class="item-left">
			<h4 class="js-editable-name" data-text="<%= text %>">
				<%= text %>
			</h4>
			<div class="item-url"><%= url %></div>
		</div>
		<div class="item-right">
			<span class="js-buttons">
				<a href="#" data-bypass="true" class="js-upper-remove">
					<span class="fa fa-times"></span></a>
				<a href="#" data-bypass="true" class="js-upper-edit">
					<span class="fa fa-pencil"></span></a>
			</span>
		</div>
	</li>
</script>

<script type="text/template" id="singleEditTpl">
	<li class="js-item js-output marginable" data-text="<%= text %>" data-url="<%= url %>" data-cid="<%= cid %>">
		<h4 class="js-editable-name" data-text="<%= text %>">
			<input type="text" id="text" value="<%= text %>"/>
			<button class="js-upper-ok">Ok</button>
		</h4>
	</li>
</script>


</div>
