<div> <!--	Wrapper to easily access to all the templates -->
	
<script type="text/template" id="objectTpl">
	<div class="property-data" data-path="<%= path %>">
		<%= _.keys(value).length  %> <%= _.keys(value).length == 1 ? 'property' : 'properties' %>
	</div>
</script>

<script type="text/template" id="objectEditTpl">
	<div class="object-properties"></div>
	<a class="object-add-property" data-path="<%= path %>"><i class="fa fa-plus-circle"></i> Add a property</a>
</script>

<script type="text/template" id="objectPropertyTpl">
	<div class="object-property" data-path="<%= path %>" data-key="<%= key %>">
		<div class="property-key"><a href="#" data-bypass="true" class="property-delete" title="Delete <%= key %>"><i class="fa fa-minus-circle"></i></a> <%= key %>:</div> 
		<div class="property-value property-mode-<%= mode %>"></div>		
	</div>	
</script>

<script type="text/template" id="fieldFormTpl">
	<form class="property-form" data-path="<%= path %>" data-key='<%= property.key %>'>
		<input type="text" value="<%= property.key %>" placeholder="Property name">:
		<select>
			<option value="0">Select a type...</option>
			<% _.each(types, function(type){ %>
			<option value="<%= type.id %>" <%= type.id == property.type ? 'checked="checked"' : '' %>><%= type.name %></option>
			<% }) %>
		</select>
		<button class="property-edit-ok"><%= property.name ? 'Ok' : 'Add' %></button>
	</form>
</script>


<script type="text/template" id="stringTpl">
	<div class="string-display">"<%= value %>"</div>
</script>

<script type="text/template" id="stringEditTpl">
	<form class="string-form">
		<input type="text" value="<%= value %>" placeholder="Value"> 
		<button class="string-ok">Ok</button> 
		<a href="#" class="string-cancel" data-bypass="true">Cancel</a>
	</form>
</script>


<script type="text/template" id="integerTpl">
	<div class="integer-display"><%= value %></div>
</script>

<script type="text/template" id="integerEditTpl">
	<form class="integer-form">
		<input type="number" value="<%= value %>" placeholder="Value"> 
		<button class="integer-ok">Ok</button> 
		<a href="#" class="integer-cancel" data-bypass="true">Cancel</a>
	</form>
</script>

<script type="text/template" id="floatTpl">
	<div class="float-display"><%= value %></div>
</script>


<script type="text/template" id="floatEditTpl">
	<form class="float-form">
		<input type="number" value="<%= value %>" placeholder="Value"> 
		<button class="float-ok">Ok</button> 
		<a href="#" class="float-cancel" data-bypass="true">Cancel</a>
	</form>
</script>


<script type="text/template" id="booleanEditTpl">
	<input type="checkbox" value="<%= value %>" placeholder="Value" <%= value == true ? 'checked' : '' %> >
</script>


<!-- Array -->

	
<script type="text/template" id="arrayTpl">
	<div class="element-data" data-path="<%= path %>">
		<%= _.keys(value).length  %> <%= _.keys(value).length == 1 ? 'element' : 'elements' %>
	</div>
</script>

<script type="text/template" id="arrayEditTpl">
	<div class="array-elements"></div>
	<a class="array-add-element"><i class="fa fa-plus-circle"></i> Add an element</a>
</script>

<script type="text/template" id="arrayElementTpl">
	<div class="array-element" data-path="<%= path %>" data-key="<%= idx %>">
		<div class="element-idx"><a href="#" class="element-delete fa fa-minus-circle" title="Delete <%= key %>"></a> <%= idx %>:</div> 
		<div class="element-value element-mode-<%= mode %>"></div>
	</div>	
</script>

<script type="text/template" id="elementFormTpl">
	<form class="element-form" data-key='<%= idx %>'>
		<span class="element-index"><%= idx %></span>
		<select>
			<option value="0">Select a type...</option>
			<% _.each(types, function(type){ %>
			<option value="<%= type.id %>" <%= type.id == element.type ? 'checked="checked"' : '' %>><%= type.name %></option>
			<% }) %>
		</select>
		<button class="element-edit-ok"><%= element.name ? 'Ok' : 'Add' %></button>
	</form>
</script>


</div>
