<div>

<script type="text/template" id="objectTpl">
	<div class="property-data">
		<%= _.keys(value).length  %> <%= _.keys(value).length == 1 ? 'property' : 'properties' %>
	</div>
</script>

<script type="text/template" id="objectEditTpl">
	<div class="js-object-properties tuleObjectProperties"></div>
	<div class="js-object-controls tuleElementsControls" data-cid="<%= cid %>"></div>
</script>

<script type="text/template" id="addProperty">
	<a class="js-object-add-property tule-add-element" data-cid="<%= cid %>" href="#" data-bypass="1"><i class="fa fa-plus"></i> Add a property</a>
</script>

<script type="text/template" id="closeProperties">
	<a href="#" class="js-object-close tule-elements-close"><i class="fa fa-arrow-up"></i> Close</a>
</script>

</div>