<div> <!-- wrap to select the templates via $ easily -->

<script type="text/template" id="tuleSettings">
<div class="tule-settings-section">
	<h3 class="tule-settings-section-title">Site title</h3>
	<div class="tule-settings-info">This title will appear on the top of the sidebar</div>
	<div class="tule-settings-form">
		<input type="text" class="js-setting-title" placeholder="Site title" value="<%= siteTitle %>">
	</div>
</div>

<div class="tule-settings-section">
	<h3 class="tule-settings-section-title">Documents per page</h3>
	<div class="tule-settings-info">Maximum number of documents to be displayed in a page.</div>
	<div class="tule-settings-form">
		<input type="number" class="js-setting-pageSize" value="<%= pageSize %>" min="5" max="100" step="5">
	</div>
</div>

<div class="tule-settings-section">
	<h3 class="tule-settings-section-title">Save display name in relation fields</h3>
	<div class="tule-settings-info">If checked, relation fields will be saved as objects with the format {id, display} to recognize the related documents at first sight. Otherwise just the document _id will be stored. <b>Be careful.</b> Be sure of what you do, you can break your application by changing this value.</div>
	<div class="tule-settings-form">
		<input type="checkbox" class="js-setting-compositeRelated" <%= compositeRelated ? 'checked' : '' %>> Save display name in relation fields.
	</div>
</div>

<div class="tule-settings-section">
	<h3 class="tule-settings-section-title">Date format</h3>
	<div class="tule-settings-info">You can use <a target="_blank" href="http://php.net/manual/function.date.php">PHP date masks</a> to format the way tule shows the dates.</div>
	<div class="tule-settings-form">
		<label for="dateFormat">Date format:</label>
		<input type="text" id="dateFormat" class="js-setting-dateFormat" value="<%= dateFormat %>" placeholder="d/mm/yy">
	</div>
	<div class="tule-settings-form">
		<label for="timeFormat">Time format:</label>
		<input type="text" id="timeFormat" class="js-setting-timeFormat" value="<%= timeFormat %>" placeholder="h:mm">
	</div>
	<div>
		<label for="firstDayOfWeek">First day of the week:</label>
		<select type="text" id="firstDayOfWeek" class="js-setting-firstDay">
			<option value="0" <%= firstDayOfWeek == 0 ? 'selected' : '' %>>Sunday</option>
			<option value="1" <%= firstDayOfWeek == 1 ? 'selected' : '' %>>Monday</option>
			<option value="2" <%= firstDayOfWeek == 2 ? 'selected' : '' %>>Tuesday</option>
			<option value="3" <%= firstDayOfWeek == 3 ? 'selected' : '' %>>Wednesday</option>
			<option value="4" <%= firstDayOfWeek == 4 ? 'selected' : '' %>>Thursday</option>
			<option value="5" <%= firstDayOfWeek == 5 ? 'selected' : '' %>>Friday</option>
			<option value="6" <%= firstDayOfWeek == 6 ? 'selected' : '' %>>Saturday</option>
		</select>
	</div>
</div>

<div class="tule-settings-controls">
	<button class="tule-settings-ok js-settings-ok">Save settings</button>
</div>
</script>

<script type="text/template" id="collectionSettings">
	<div class="tule-collection-tools clearfix">
		<div class="tule-collection-controls js-collection-controls">
			<button class="tule-doc-new js-doc-create">Add new</button>
		</div>
		<div class="createRegion"></div>
		<div class="countRegion"></div>
	</div>
	<div class="itemsRegion"></div>
</script>

</div>