<div>
<script type="text/template" id="relationTpl">
	<div class="relation-display">
		<%= value.display || value.id %>
		<% if(options.relatedCollection){ %><a href="/collections/list/<%= options.relatedCollection %>?query=_id|eq|<%= value.id %>">
			<i class="fa fa-external-link-square" title="Edit this <%= options.relatedCollection %> item."></i>
		</a><% } %>
	</div>
</script>

<script type="text/template" id="relationEditTpl">
	<form class="relation-form">
		<% if(options.relatedCollection && options.displayField) { %>
		<input type="text" value="<%= value.display %>" placeholder="<%= options.displayField %>" class="relation-field">
		<% } %>
		<input type="text" value="<%= value.id %>" placeholder="id" class="relation-id">
		<%= controls %>
	</form>
</script>

</div>